---
---

@import "{{ site.theme }}";

header {
  width: 200px;
}

footer {
  bottom: 25px;
  left: 25px;
}

@media print, screen and (min-width: 961px) {
  section {
    width: 70%;
  }

  .wrapper {
    width: 80%;
  }
}
