---
---

@import "{{ site.theme }}";

header {
  width: 200px;
}

footer {
  bottom: 25px;
  left: 25px;
}

a {
  color: #6d41bf;
}

a:focus, a:hover {
  color: #3123ae;
}

@media print, screen and (max-width: 720px) {
  pre, code {
    word-wrap: break-word;
  }

  pre > code {
    word-wrap: normal;
  }
}

@media print, screen and (min-width: 961px) {
  section {
    width: 70%;
  }

  .wrapper {
    width: 80%;
  }
}
